<div class="container-fluid allOfPage detailsPage">

<h3>Login</h3>

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" class="btn btn-outline-info" value="Log In">
  </div>
</form>

</div>
