<div class="container-fluid allOfPage tileView">

<h2>Currently available activities:</h2>

<div class="row">
{{#each allActivities}}
    <div class="activity-preview image-block col-sm-3">
    <img class="preview-tile" src='{{this.image.[0]}}'>
    <h5 class="text-center"><a class="text-white" href="/activities/{{this._id}}">{{this.name}}</a></h5>
    
    
    </div>
{{/each}}
</div>



<form action="/activities/create" method="get">
<button type="submit" class="btn btn-outline-info">Add a New Activity Type</button>
</form>


</div>