<div class="container-fluid allOfPage">

<h2>See all of the available activities:</h2>



{{#each allActivities}}
    <div class="activity-preview">
    <h5>{{this.name}}</h5>
    <a href="/activities/{{this._id}}">See Details</a>
    </div>
{{/each}}

</div>