<h1 class="text-center">{{title}}</h1>

<h4>Attract-Athletic is a group for people who are all about sports, action, adventures, staying active, and meeting new people in the process. We want to bring together the strong, the quick, the agile, the fearless, the graceful, and all those who aspire to be. Invite any and all who fit this description.</h4>