<div class="container-fluid allOfPage" id="landingPage">
<h1 class="text-center">{{title}}</h1>

<h6 class="text-center">For people who are all about sports, action, adventures, staying active, and meeting new people in the process. <br> We want to bring together the strong, the quick, the agile, the fearless, the graceful, <br>and all those who aspire to be.</h2>

</div>