<div class="container-fluid" id="landingPage">
<h1 class="text-center">{{title}}</h1>

<h2 class="text-center">Attract-Athletic is for people who are all about sports, action, adventures, staying active, and meeting new people in the process. <br><br>  We want to bring together the strong, the quick, the agile, the fearless, the graceful, and all those who aspire to be.</h2>

</div>